@media only screen and (max-width: 1200px) {
	
}

@media only screen and (max-width: 992px) {
	
	.education-wrapper:after,
	.education-wrapper .education:after{ display: none; }
}

@media only screen and (max-width: 767px) {
	
	/*primary styles*/

	p{ line-height: 1.4; }

	h1{ font-size: 3em; }
	h2{ font-size: 2em; }
	h3{ font-size: 1.8em; }

	.section{ padding: 50px 0 0px; }

	.section .heading{ margin-bottom: 30px; }

	/*intro*/

	.intro .downlad-btn{ float: none; }
	
	/*Portfolio*/
	
	.portfolio-section .portfolioFilter{ margin-top: 0px; margin-bottom: 20px; }
	
	.portfolio-section .p-item{ width: 50%; }
	
}

@media only screen and (max-width: 575px) {
	
	/*primary styles*/

	body{ font-size: 14px;  }
	
	/*portfolio*/

	.portfolio-section .p-item{ width: 100%; }
	
}

@media only screen and (max-width: 479px) {


}

@media only screen and (max-width: 359px) {
	
	

}

@media only screen and (max-width: 290px) {

	
}

@media only screen and (max-width: 260px) {

	
}