body {
	font-family: 'Arsenal', sans-serif;
	font-weight: bold;
}

div {
		color: white;
		font-weight: bolder;
	}

	img {
		padding: 10px;
	}

	.container {
		background-color: black;
	}